body {
    background: #D8DCE0;
    color: #373837;
}

.wrapper {
    width: 70%;
    margin: 0 auto;
    height: auto;
}

h2 {
    border-left: 5px solid #018DFF;
    padding-left: 15px;
    color: #050226;
}

/* SLIDESHOW */

#slideshow {
    clear: both;
    height: 600px;
    position: relative;
    overflow: hidden;
    width: 100%;
}

#slideshow .featured-img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    opacity: 0.70;
}

.content {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.con {
    display: flex;
    height: 100%;
    padding-bottom: 150px;
}

.article-title {
    width: 100%;
    margin-top: auto;
}

#slideshow h1 {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 50px;
    color: white;
    margin: 0;
}

@media screen and (min-width: 1200px) {
    .con {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* RESULTAT */

#results {
    height: 60px;
}

@media screen and (min-width: 1600px) {
    #results .text {
        float: left;
        width: 200px;
    }

    #results .text h2 {
        margin-top: 40px;
        font-size: 50px;
    }

    #results .matches-box {
        height: auto;
        float: right;
        width: 77%;
        margin-top: 30px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {

    #results .text h2 {
        margin-top: 40px;
        font-size: 50px;
    }

    #results .matches-box {
        height: auto;
        width: 100%;
        margin-top: 30px;
    }
}

#results .match:first-child {
    border-top: none;
}

#results .match {
    height: 100px;
    border-top: 1px solid #050226;
    padding: 10px 25px;
}

.match .left {
    float: left;
    text-align: left;
    font-weight: 700;
}

.game {
    font-size: 14px;
    text-transform: uppercase;
}

.tournament {
    font-size: 20px;
    text-transform: uppercase;

}

.date {
    font-size: 14px;
}

.score {
    float: right;
    margin-right: 20px;
    line-height: 80px;
    font-size: 25px;
}

/* NEWS TICKETS */

#news {
    border-top: 1px solid #050226;
    padding-top: 20px;
    margin-top: 305px;
}

#news h2 {
    font-size: 50px;
}

#news ul {
    text-align: center;
}

#news ul li {
    margin: 15px;
}

#news .arrow:hover {
    background: #018DFF;
}

.ticket {
    width: 250px;
    height: 300px;
    position: relative;
    display: inline-block;
}

.background {
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
}

.tickets-title {
    margin-top: 10px;
    height: auto;
    width: 100%;
    font-size: 22px;
    color: white;
    position: absolute;
    top: 0;
    opacity: 1;
    font-weight: 600;
}

.arrow {
    width: 50px;
    height: 50px;
    background-color: #050226;
    position: absolute;
    bottom: 0;
    right: 0;
}

#news i {
    position: absolute;
    top: 13px;
    left: 14px;
    border: solid white;
    border-width: 0 7px 7px 0;
    display: inline-block;
    padding: 6px;
}

.right-arrow {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

/* PRESENTATION */

#presentation{
    margin-top: 40px;
    padding-top: 30px;
    background: #050226;
    height: 400px;
    width: 100%;
}

#presentation .wrapper {
    border-bottom: 1px solid white;
}

#presentation h2 {
    color: white;
    font-size: 50px;
}

#presentation p {
    color: white;
    font-size: 22px;
    margin: 20px 0;
}

#presentation .text {
    margin: 20px 60px 40px 60px;
}
