.game-box {
    width: 100%;
    border-bottom: 1px solid #0E0858;
    cursor: pointer;
    background-repeat: no-repeat;
}

.arrow-down {
    float: right;
    margin: 118px 40px;
}

.game-name {
    float: left;
    font-size: 60px;
    line-height: 300px;
    margin-left: 60px;
    color: #FFF;
}

.lineup {
    height: auto;
}

.lineup ul li {
    display: inline-block;
    float: right;
    width: 150px;
    height: auto;
    text-align: center;
}

.lineup h3 {
    float: left;
    color: #050226;
}

.one-team {
    height: 190px;
    padding-top: 330px;
}

@media screen and (min-width: 1600px) {
    .lineup ul li {
        margin: 0 15px;
    }

    .lineup h3 {
        margin: 47px 0;
        font-size: 45px;
    }

    .hide-box {
        margin: 0 3%;
        display: none;
    }

    .display-box {
        margin: 0 3%;
    }

    .player-image {
        padding: 10px;
        border-radius: 5px;
        border: 2px solid #050226;
    }

    .player-name {
        margin: 10px 0;
    }

}

@media screen and (max-width: 1600px) {
    .lineup ul {
        margin-top: 25px;
    }

    .lineup ul li {
        margin: 0 0px;
        max-width: 110px;
    }

    .lineup h3 {
        margin: 30px 0;
        font-size: 30px;
    }

    .hide-box {
        margin: 0 2%;
        display: none;
    }

    .display-box {
        margin: 0 2%;
    }

    .player-image {
        padding: 5px;
        border-radius: 3px;
        height: 70px;
        border: 2px solid #050226;
    }

    .player-name {
        margin: 5px 0;
    }

}

#LOL {
    background-image: url(../images/team-banner-lol.jpg);
}

#RL {
    background-image: url(../images/team-banner-rl.jpg);
}

#TM {
    background-image: url(../images/banner-tm.jpg);
}

#R6S {
    background-image: url(../images/banner-r6s.jpg);
}

#Fortnite {
    background-image: url(../images/team-banner-fortnite.jpg);
}

#CSGO {
    background-image: url(../images/banner-csgo.jpg);
}

.hidePlayers {
    height: 300px;
}

.displayOneTeam {
    height: 530px;
}

.displayTwoTeams {
    height: 760px;
}
